software/headers/xtcReader/xdrfile.h
software/headers/xtcReader/xdrfile.c
software/headers/xtcReader/xdrfile_xtc.h
software/headers/xtcReader/xdrfile_xtc.c
tests/test
software/averageContactProbabilityInQValueRangeProg
software/calcQFromContactsProg
software/probabilityContactInQValueRangeProg